/* GENERAL */
html {
  background-image: url("../assets/it_is_a_rainbox.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(0,213,251, 0.5);
  border-radius: .5em;
  height: 90%;
  width: 80%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
}

/* ASIDE WITH USER INFO */

.user-icon {
  height: 6vh;
  width: 6vh;
  align-self: center;
}

.greeting {
  font-size: 2.5vh;
  align-self: center;
}

.your-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-top {
  border-radius: 3em 3em 0 0;
}

.user-info-bottom {
  border-radius: 0 0 3em 3em;
}

.user-info-data {
  background-color: #009999;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.friend {
  background-color: #ffffcc;
  height: 2em;
  width: 1em;
  border-radius: 1em/3em;
  padding: .2em;
  display: inline;
  white-space: nowrap;
}

.friends-list {
  margin-left: .5em;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-title {
  margin-bottom: .3em;
}

/* DROPDOWN BUTTONS */

.your-avgs-button {
  background-color: #99ffcc;
  height: 6vh;
  width: 95%;
  margin-bottom: 0;
  border-radius: 0 .3em .3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-table {
  background-color: #FFFFFF;
  margin-top: 0;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ASIDE CONTAINER */

.user-info-aside {
  background-color: #ff3300 solid;
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 6;
}

/* TOP NAV BAR */

.nav-btn,
.day-btn,
.leaderboard-btn {
  border-radius: .4em;
  border-width: 0;
  font-size: 2em;
}

.nav-btn {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  padding-top: .5EM;
}

.day-btn {
  background-color: #666699;
  height: 50%;
  width: 100%;
  font-size: 2vh;
}

.leaderboard-btn {
  background-color: transparent;
  height: 8vh;
  width: 8vh;
  font-size: 6vh;
  margin-right: 2vw;
  padding: 0;
  grid-column-start: 6;
  align-self: center;
}

.nav-dates {
  background-color: #808080;
  height: 40%;
  width: 80%;
  border-radius: .4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.currentweek-nav-bar {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 6;
}

label {
  text-align: center;
}

/* DAILY STATS CONTAINER */

.activity-widget {
  background-color:  #ff66cc;
  grid-row: 2 / span 3;
  grid-column: 1 / span 4;
}

.hydration-widget {
  background-color: #0099ff;
  grid-row: 5 / span 2;
  grid-column: 1 / span 2;
}

.sleep-widget {
  background-color: #9999ff;
  grid-row: 5 / span 2;
  grid-column: 3 / span 2;
}

.weekly-widget {
  background-color: #666699;
  grid-row: 1 / span 6;
  grid-column: 5 / span 2;
}

.daily-stats-header {
  background-color: #cc3399;
  margin-left: 2em;
  grid-column: 1 / span 2;
}

.widget {
  border-radius: .3em;
  margin: .5em;
}

.daily-stats-container {
  background-color: #B12139;
  border-radius: .4em;
  margin-bottom: 3vh;
  margin-right: 3vh;
  grid-row: 2 / span 4;
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    background-color: rgba(0,213,251, 0.5);
    border-radius: .5em;
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
  }
  .user-icon-mobile {
    height: 6vh;
    width: 6vh;
    display: inline-flex;
  }
  .greeting-mobile {
    font-size: 3vh;
    align-self: center;
    display: inline;
    grid-column: 3;
  }
  .leaderboard-btn {
    display: none;
  }
  .leaderboard-btn-mobile {
    background-color: transparent;
    height: 6vh;
    width: 6vh;
    font-size: 5vh;
    margin-right: 10%;
    padding 0;
    display: inline-flex;
    grid-column-start: 6;
    align-self: flex-start;
  }
  .user-icon-container{
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-self: flex-start;
  }
  .currentweek-nav-bar {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .nav-dates {
    background-color: #808080;
    height: 40%;
    width: 30em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  .user-info-aside {
    display: none;
  }
  .daily-stats-container {
    background-color: #B12139;
    border-radius: .4em;
    margin: 3vh;
    grid-column: 1 / span 6;
    grid-row: 2 / span 6;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* @media screen and (max-width: 768px) {
  body {
  }
} */

/* @media screen and (max-width: 1024px) {
  body {
  }
} */

/* @media screen and (max-width: 1200) {
  body {
  }
} */
