/* GENERAL */
html {
  background-image: url("../assets/rainbow-clouds.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgba(0,213,251, 0.2);
  border-radius: .5em;
  height: 90%;
  width: 80%;
  margin-top: 5em;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* ASIDE WITH USER INFO */

.user-icon {
  height: 6vh;
  width: 6vh;
  align-self: center;
}

.greeting {
  font-size: 2.5vh;
  align-self: center;
}

.your-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-top {
  border-radius: 3em 3em 0 0;
}

.user-info-bottom {
  border-radius: 0 0 3em 3em;
}

.user-info-data {
  background-color: #009999;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.friend {
  background-color: #ffffcc;
  height: 2em;
  width: 1em;
  border-radius: 1em/3em;
  padding: .2em;
  display: inline;
  white-space: nowrap;
}

.friends-list {
  margin-left: .5em;
  padding: 0;
  list-style-type: none;
  display: inline;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-title {
  margin-bottom: .3em;
}

/* DROPDOWN BUTTONS */

.your-avgs-button {
  background-color: #99ffcc;
  height: 6vh;
  width: 95%;
  margin-bottom: 0;
  border-radius: 0 .3em .3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-table {
  background-color: #FFFFFF;
  margin-top: 0;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ASIDE CONTAINER */

.user-info-aside {
  background-color: #ff3300 solid;
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-row-end: 6;
}

/* TOP NAV BAR */
.day-btn-label {
  border: solid 1px white;
  border-radius: 10px;
  padding: 5px;
}

.nav-btn,
.day-btn {
  border-radius: .4em;
  border-width: 0;
  font-size: 2em;
}

.nav-btn {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  padding-top: .5EM;
}

.day-btn {
  background-color: #666699;
  height: 50%;
  width: 100%;
  font-size: 2vh;
}

.leaderboard-btn {
  background-color: transparent;
  height: 6vh;
  width: 6vh;
  margin-right: 2vw;
  padding: .1em;
  grid-column-start: 6;
  align-self: center;
}

.nav-dates {
  background-color: #808080;
  height: 40%;
  width: 80%;
  border-radius: .4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.currentweek-nav-bar {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 6;
}

label {
  text-align: center;
}

/* DAILY STATS CONTAINER */

.daily-stats-container {
  background-color: #B12139;
  border-radius: .4em;
  margin-bottom: 3vh;
  margin-right: 3vh;
  grid-row: 2 / span 4;
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.activity-widget {
  background-color:  #ff66cc;
  grid-row: 1 / span 10;
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-title,
.hydration-title,
.sleep-title {
  width: 75%;
  margin: 0 0 20px 0;
  padding: 10px;
  text-align: center;
  border-bottom: solid thin white;
}

.daily-stats {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weekly-progress,
.comparison-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}

.stat-sub-title {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  text-align: center;
}

.progress-display {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-title {
  margin: 0 20px 0 0;
}

.hydration-widget {
  background-color: #0099ff;
  grid-row: 1 / span 4;
  grid-column: 7 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sleep-widget {
  background-color: #9999ff;
  grid-row: 5 / span 5;
  grid-column: 7 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget {
  border-radius: .3em;
  margin: .5em;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    background: transparent;
    height: 100%;
    max-width: 100%;
    margin: 1em;
    grid-template-columns: 10% 10% auto 10% 10%;
    grid-template-rows: 10%;
    justify-content: center;
  }

  .leaderboard-btn {
    display: none;
  }

  .leaderboard-btn-mobile {
    background-color: transparent;
    height: 6vh;
    width: 6vh;
    font-size: 5vh;
    margin-right: 1em;
    padding: 0;
    display: block;
    align-self: auto;
  }

  .greeting-mobile {
    font-size: 2em;
    margin: .5em;
    align-self: center;
    display: block;
  }

  .user-icon-mobile {
    height: 6vh;
    width: 6vh;
    padding: 1em;
  }

  .user-icon-container{
    background-color: transparent;
    margin-top: 1em;
    margin-left: 2em;
    border: none;
    display: inline-block;
  }

  .nav-dates {
    background-color: #808080;
    height: 4.5em;
    width: 100%;
    margin: 1em;
    border-radius: 0;
    display: flex;
    align-self: flex-end;
  }

  .currentweek-nav-bar {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 6;
    grid-row: 2;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .user-info-aside {
    display: none;
  }

  .daily-stats-container {
    width: 95vw;
    margin-right: 2em;
    grid-row-start: 3;
  }
}

/* @media screen and (max-width: 768px) {
  body {
  }
} */

@media screen and (max-width: 1024px) {
  main {
    height: fit-content;
  }

  .activity-widget {
    grid-column: 1 / span 10;
    grid-row: 1 / span 4;
  }

  .hydration-widget {
    grid-column: 1 / span 10;
    grid-row: 5 / span 2;
  }

  .sleep-widget {
    grid-column: 1 / span 10;
    grid-row: 7 / span 3;
  }
}
  }
}

/* @media screen and (max-width: 1200) {
  body {
  }
} */
